DB_NAME="adameds_setting"
DB_HOST="localhost"
DB_USERNAME=
DB_PASSWORD=
DB_DIALEC="postgres"
BASE_URL="127.0.0.1"

# API CONFIG
API_BASE="api"
API_VERSION="v3"


# Application config
APPLICATION_PORT=8081
APPLICATION_HOST=127.0.0.1
